= simple_form_for @logic, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :content, as: :text, input_html: {rows: 5, class: 'input-xxlarge'}
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), logics_path, :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), logic_path(@logic), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger pull-right' unless @logic.new_record?
