- model_class = Logic
.page-header
  %h1
    Logic Title: 
    = @logic.title

.form-actions
  = link_to 'Add Scenario', new_scenario_path, :class => 'btn btn-primary'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_logic_path(@logic), :class => 'btn'


%blockquote
  =simple_format @logic.content

%table.table.table-striped
  %thead
    %tr
      %th(width='10%') ID
      %th Scenario
      %th(width='20%')=t '.actions', :default => t("helpers.actions")
  %tbody
    - @scenarios.each do |scenario|
      %tr
        %td= scenario.id
        %td
          = link_to scenario.content, scenario_path(scenario)
          = show_scenario_cases_count(scenario)
          = show_child_scenarios_count(scenario)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_scenario_path(scenario), :class => 'btn btn-mini'

