%blockquote
  =simple_format @scenario.content

= simple_form_for [@scenario, @case], :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    %legend Basic
    = f.input :state, collection: SITE_SETTINGS["case_state_select"]
    = f.input :content, as: :text, input_html: {rows: 5, class: 'input-xxlarge'}
    = f.input :input, as: :text, input_html: {rows: 5, class: 'input-xxlarge'}
    = f.input :output, as: :text, input_html: {rows: 5, class: 'input-xxlarge'}

  %fieldset
    %legend Advanced
    = f.input :test_class_name, label: 'Class', hint: 'Controller or Model\'s name'
    = f.input :describe, label: 'describe', hint: 'describe \'...\' do'
    = f.input :context_name, label: 'context', hint: 'context \'...\' do'
    = f.input :it_sumary, label: 'it', hint: 'it \'...\' do'


  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), @scenario, :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), scenario_case_path(@scenario, @case), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger pull-right' unless @case.new_record?
