- model_class = Case
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:content)
      %th= model_class.human_attribute_name(:state)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @cases.each do |test_case|
      %tr
        %td= link_to test_case.id, test_case_path(test_case)
        %td= test_case.content
        %td= test_case.state
        %td=l test_case.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_case_path(test_case), :class => 'btn btn-mini'
          

