= simple_form_for @scenario, :html => { :class => 'form-horizontal' } do |f|
  = f.input :content, as: :text, input_html: {rows: 5, class: 'input-xxlarge'}
  = f.input :position
  = f.association :logics, collection: Logic.all(order: 'position')
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), scenarios_path, :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), scenario_path(@scenario), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger pull-right' unless @scenario.new_record?