- model_class = Scenario
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th(width='10%') ID
      %th= model_class.human_attribute_name(:content)
      %th(width='20%')=t '.actions', :default => t("helpers.actions")
  %tbody
    - @scenarios.each do |scenario|
      %tr
        %td= scenario.id
        %td= link_to scenario.content, scenario_path(scenario)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_scenario_path(scenario), :class => 'btn btn-mini'
          

= link_to t('.new', :default => t("helpers.links.new")), new_scenario_path, :class => 'btn btn-primary'
